body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: red;
  }
  
  input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
  }
  
  button:hover {
    background-color: #45a049;
  }


  input:valid {
    border-color: green;
  }
  
  input:invalid {
    border-color: red;
  }
  
